div.pagination
  div.pagination-pages
    span.page.active-page 1
    span.page 2
    span.dots ...
    span.page 3

  div.pagination-action
    button.btn.btn-round.btn-transparent.btn-page.btn-page-prev Предыдущая
    button.btn.btn-round.btn-transparent.btn-page.btn-page-next Следующая