block variables

doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title #{title} | Hastore - Литые диски для внедорожников

  body(class=classBody)

    //- Header
    block header

    //- Main content page
    block content

    //- Footer
    include ../components/footer/footer
