mixin row-mod()
  div.row.row-mod
    div.cell.cell-width 11.75
    div.cell.cell-diameter 132.5
    div.cell.cell-radius 110.5
    div.cell.cell-holes 5
    div.cell.cell-pcd 127/155
    div.cell.cell-dia 56.62
    div.cell.cell-art(title="123456789") 123456789
    div.cell.cell-color(title="Brushed Titanium") Brushed Titanium
    div.cell.cell-price(title="14 000") 14 000 руб
    div.cell.cell-prices 634 000 руб
    div.cell.cell-order
      button.btn-order Заказать

div.table-modification
  div.row.row-head
    div.cell.cell-width Ширина, мм
    div.cell.cell-diameter Диаметр, "
    div.cell.cell-radius Вылет, мм
    div.cell.cell-holes Кол-во отверстий
    div.cell.cell-pcd Диаметр распо-#[br]ложения (PCD)
    div.cell.cell-dia Ступица (DIA)
    div.cell.cell-art Артикул
    div.cell.cell-color Цвет
    div.cell.cell-price Цена (1 шт)
    div.cell.cell-prices Цена (4 шт)
    div.cell.cell-order

  - for (var i = 0; i < 5; i++) {
      +row-mod()
  - }
