p.about-desc 
  | Диски отличные! Нестандартные цвета - красный+черный. Очень крепкие, идеально подошли (брал для Range Rоver). И еще много много текста, который будет имитировать описание. #[br] Интересно, какой по высоте будет этот блок? И будет ли он обрезаться? #[b <-- Сюда смотри!] #[br] #[br]

  | Hello description!

