section.panel.panel-gallery
  div.panel-header
    h2.h2.title Галерея
    a(href="catalog.html").btn-arrow.btn-round.no-active В раздел
  div.panel-body
    div(id="slider-gallery")
      img(data-slidr="one" src=require('../../../../images/temp-gallery/1.jpg')).slide
      img(data-slidr="two" src=require('../../../../images/temp-gallery/2.jpg')).slide
      img(data-slidr="three" src=require('../../../../images/temp-gallery/3.jpg')).slide