-
  var data = {
    name: 'KMC XD755 Rockstar',
    minPrice: '14 900',
  }

section.panel
  div.panel-header
    h2.h2.title Самые продаваемые модели 2017 года
    a(href!=`{{ route "catalog" }}`).btn-arrow.btn-round Каталог
  div.panel-body
    include ../box/model-box

    +model-box(require('../../../images/worx.jpg'), data)
    +model-box(require('../../../images/worx.jpg'), data)
    +model-box(require('../../../images/worx.jpg'), data)
    +model-box(require('../../../images/worx.jpg'), data)
