section.panel
  div.panel-header
    h2.h2.title Самые продаваемые модели 2017 года
    a(href!=`{{ route "catalog" }}`).btn-arrow.btn-round Каталог
  div.panel-body
    include ../box/model-box

    | {{range $hitProducts := .HitProducts}}
    +model-box(require('../../../images/worx.jpg'), 'hitProducts')
    | {{end}}
