mixin select-custom(placeholder, goName)
  div.custom-select
    div.custom-select-field(data-name=goName.toLowerCase())= placeholder
    input(type="hidden" name=goName.toLowerCase()).custom-input
    ul.custom-select-options
      li.custom-select-option(data-value="init") Любая
      each value in [1, 2, 3, 4, 5, 6]
        li.custom-select-option= value
