section.panel
  div.panel-header
    h2.h2.title Отзывы
    a(href="catalog.html").btn-arrow.btn-round.no-active В раздел
  div.panel-body
    p Нужно больше отзывов! Рандомные?<br> Не забывать про popup "Написать отзыв"