section.panel.panel-brands
  div.panel-body
    div.title Подбор по производителю дисков
    ul.brands-list
      li(role="link" data-name="black-rhino").brand Black Rhino
      li(role="link" data-name="pro-comp").brand Pro Comp
      li(role="link" data-name="worx").brand Worx
      li(role="link" data-name="fuel").brand Fuel
      li(role="link" data-name="kmc").brand KMC
      li(role="link" data-name="tuff").brand Tuff
