mixin model-box(src, data, colors)
  - colors = ["Brushed Titanium", "Brronze Metalic", "Gunmetal", "Carbon Graphite", "Satin Black"]
  div.model-box
    div.visible-box
      img(src=src).image
      div.name= data.name
      div.price от #[span.price-count= data.minPrice] #[span.rub ₽] за 1 шт

    div.hidden-box
      div.color-title цвета
        ul.color-list
          each color in colors
            li.color #[a(href="")= color]

      a(href="" role="button").btn.btn-block.btn-green.btn-round.btn-box Перейти к товару