// Proxima Nova

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/Proxima_Nova_Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/Proxima_Nova_Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
}
