// Цвета

$black: #000;
$white: #fff;
$green: #2bde60;

$red: #9d3c46;

$black-20: #202730;
$black-0e: #0e1824;

$gray-a07: rgba($white, 0.07);
$gray-f3: #f3f3f3;
$gray-40: #404750;
$gray-2b: #2b343f;

$no-active: #7e7b7b;



$light-green: #458748;
$dark-green: #2a562b;
$green-txt: #346c36;
$green-lighten: #AAF6AD;
$lighter-black: #0e1824;
$black2: #1a1a1a;
$light-gray: #808080;
$light-blue: #3a89bd;
$red-lighten: #DB3C46;

$gray: #E5E5E5;



$gray-c: #ccc; // Typography
$h1-big: 70px;
$h1: 38px;
$h2: 28px;
$par: 17px;